.benefits {
	padding: 71px 0 65px 0;
	position: relative;
	z-index: 0;

	&__label {
		@include label_dark;
	}

	&__title {
		@include title-dark;
	}

	&__block {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 35px;
		@media (max-width: 1200px) {
			align-items: flex-start;
		}
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__round {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 26px;
		width: 113px;
		height: 113px;
		background-color: #1eacc7;
		border-radius: 100%;
		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__descr {
		width: 343px;
		@media (max-width: 1200px) {
			width: 300px;
		}
	}

	&__subtitle {
		line-height: 21px;
		color: #1eacc7;
		font-size: 17px;
		font-weight: 400;
	}

	&__text {
		color: #202020;
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
	}
}
